<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Modify room</h3>
<p>
    <a th:href="@{/room/list.html}">
        Back to room list
    </a>
</p>
<div id="form">
    <form action="#" id="demoForm" th:action="@{/room/view}" th:object="${Room}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" name="name" th:field="*{name}"/>
        </div>

        <div>
            <label>number</label>
            <input type="text" name="name" th:field="*{number}"/>
        </div>
        <div>
            <label>ghe</label>
            <input type="text" name="name" th:field="*{ghe}"/>
        </div>
        <div>
            <label>ban</label>
            <input type="text" name="name" th:field="*{ban}"/>
        </div>

        <div>
            <label>tivi</label>
            <input type="text" name="name" th:field="*{tivi}"/>
        </div>



        <div>
            <label>Class</label>
            <select name="roomCateoryId">
                <th:block th:each="item : ${Roomcateogry}">

                    <option th:if="${item.getId()== Room.getRoomCategory()}" th:value="${item.getId()}" th:text="${item.getName()}" selected></option>
                    <option th:unless="${item.getId()== Room.getRoomCategory()}" th:value="${item.getId()}" th:text="${item.getName()}"></option>

                </th:block>
            </select>
        </div>

    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
<script>





</script>
</body>
</html>
