<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Modify room</h3>
<p>
    <a th:href="@{/miss/list.html}">
        Back to room list
    </a>
</p>
<div id="form">
    <form action="#" id="demoForm" th:action="@{/miss/view}" th:object="${Miss}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" name="name" th:field="*{name}"/>
        </div>

        <div>
            <label>Age</label>
            <input type="number" name="age" th:field="*{age}"/>
        </div>

        <div>
            <label>Email</label>
            <input type="text" name="email" th:field="*{email}"/>
        </div>

        <div>
            <label>ID Card</label>
            <input type="number" name="identcard" th:field="*{identityCard}"/>
        </div>

        <div>
            <label>Address</label>
            <input type="text" name="address" th:field="*{address}"/>
        </div>

        <div>
            <label>nativeplace</label>
            <input type="text" name="hometown" th:field="*{nativeplace}"/>
        </div>



        <div>
            <label>Class</label>
            <select name="roomCateoryId">
                <th:block th:each="item : ${Ethnicity}">

                    <option th:if="${item.getId()== Miss.getEthnicity()}" th:value="${item.getId()}" th:text="${item.getName()}" selected></option>
                    <option th:unless="${item.getId()== Miss.getEthnicity()}" th:value="${item.getId()}" th:text="${item.getName()}"></option>

                </th:block>
            </select>
        </div>

    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
<script>





</script>
</body>
</html>
